<template>
  <div id="area">
    <table>
      <tbody>
        <tr v-for="y in area[0].length" :key="y">
          <td v-for="x in area.length" :key="x + ',' + y">
            <Tile
              v-if="area[x - 1][area[0].length - y] !== undefined"
              :key="x + ',' + y"
              :cards="area[x - 1][area[0].length - y].cards"
              :x="area[x - 1][area[0].length - y].x"
              :y="area[x - 1][area[0].length - y].y"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Tile from './Tile.vue';
import areaStore from '../helpers/areaStore';

export default {
  name: 'Area',
  props: {},
  components: {
    Tile,
  },
  data() {
    return {
      area: areaStore.state.area,
    };
  },
};
</script>

<style>
#area {
  width: 500px;
  height: 500px;
}

#area > table {
  border-collapse: collapse;
}

#area > table > tbody > tr > td {
  padding: 0;
}
</style>
