<template>
  <div :class="'card ' + (card.locked ? 'locked' : 'unlocked')">
    <b class="cost" v-if="card.cost !== undefined">{{ card.cost }}</b>
    <div class="image-frame part-of-miniature">
      <div
        class="value-bar"
        v-if="card.value !== undefined"
        :style="
          'background-color: ' +
            card.barColor +
            '; height:' +
            (card.value / card.maxValue) * 100 +
            '%'
        "
      />
      <img :src="require('../cards/' + card.type + '.png')" />
      <ClockHands v-if="card.minutes !== undefined" :minutes="card.minutes" />
      <b class="value-text" v-if="card.value !== undefined">{{ card.value }}/{{ card.maxValue }}</b>
    </div>
    <header>{{ card.name }}</header>
  </div>
</template>

<script>
import ClockHands from './ClockHands.vue';

export default {
  name: 'Card',
  components: {
    ClockHands,
  },
  props: {
    card: Object,
  },
};
</script>

<style>
.card {
  width: 100px;
  height: 150px;
  border-radius: 5px;
  padding: 5px;
  background-color: snow;
  position: relative;
}
.cost {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(255, 127, 39);
  position: absolute;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  color: snow;
  top: 6px;
  left: 6px;
}
.image-frame {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-frame > img {
  width: 100%;
  position: absolute;
  margin: auto;
  display: block;
}
.value-bar {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  bottom: 0px;
  transition: height 300ms ease-in-out;
}
.value-text {
  color: white;
  text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
  font-size: 12px;
  position: absolute;
  bottom: 3%;
  width: 100%;
}
.card.locked {
  cursor: not-allowed;
}
</style>
