<template>
  <div class="clock-face">
    <div
      class="large-hand"
      :style="'transform:translate(0.5px,-6px) rotate(' + 0.5 * minutes + 'deg)'"
    />
    <div class="small-hand" :style="'transform:translate(0,-9px) rotate(' + 6 * minutes + 'deg)'" />
  </div>
</template>

<script>
export default {
  name: 'ClockHands',
  props: {
    minutes: Number,
  },
};
</script>

<style>
.clock-face {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-face > div {
  position: absolute;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 1s ease-in-out;
}
.large-hand {
  width: 2px;
  height: 12px;
}
.small-hand {
  width: 1px;
  height: 18px;
}
</style>
