<template>
  <svg class="darkness-overlay" :style="`opacity:${opacity}`">
    <defs>
      <mask id="mask">
        <rect fill="white" width="100%" height="100%" />
        <rect
          v-for="source in lightSources"
          :key="
            `${source.x} + ${source.y} + ${source.width} +
        ${source.height}`
          "
          :x="source.x - 10"
          :y="source.y - 10"
          :width="source.width + 20"
          :height="source.height + 20"
          fill="rgb(115,115,115)"
          rx="15"
        />
        <rect
          v-for="source in lightSources"
          :key="`${source.x} + ${source.y} + ${source.width} + ${source.height}`"
          :x="source.x"
          :y="source.y"
          :width="source.width"
          :height="source.height"
          fill="rgb(30,30,30)"
          rx="5"
        >
          <!-- <animate
            attributeName="y"
            :values="`${source.y - 5};${source.y};${source.y - 5}`"
            dur="2s"
            repeatCount="indefinite"
          />
          <animate
            attributeName="x"
            :values="`${source.x - 5};${source.x};${source.x - 5}`"
            dur="2s"
            repeatCount="indefinite"
          />
          <animate
            attributeName="width"
            :values="`${source.width + 10};${source.width};${source.width + 10}`"
            dur="2s"
            repeatCount="indefinite"
          />
          <animate
            attributeName="height"
            :values="`${source.height + 10};${source.height};${source.height + 10}`"
            dur="2s"
            repeatCount="indefinite"
          /> -->
        </rect>
      </mask>
    </defs>
    <rect x="0" y="0" width="100%" height="100%" mask="url(#mask)" fill="rgba(15, 37, 64, 0.8)" />
  </svg>
</template>

<script>
import areaStore from '../helpers/areaStore';
import cardStore from '../helpers/cardStore';

export default {
  name: 'Darkness',
  data() {
    return {
      area: areaStore.state.area,
      clock: cardStore.findCard('clock'),
    };
  },
  computed: {
    opacity() {
      const minutesToday = this.clock.minutes % (24 * 60);
      const dawnMinutes = 4 * 60;
      const morningMinutes = 7 * 60;
      const duskMinutes = 18 * 60;
      const nightMinutes = 21 * 60;

      if (minutesToday <= dawnMinutes) return 1;
      else if (minutesToday > dawnMinutes && minutesToday <= morningMinutes)
        return 1 - (minutesToday - dawnMinutes) / (morningMinutes - dawnMinutes);
      else if (minutesToday > morningMinutes && minutesToday <= duskMinutes) return 0;
      else return (minutesToday - duskMinutes) / (nightMinutes - duskMinutes);
    },
    lightSources() {
      const areaMargin = 50;
      const tileSize = 50;
      const borderRadius = 2.5;
      return this.area
        .flat()
        .map(tile => ({
          x: tile.x,
          y: tile.y,
          maxLightLevel: Math.max(...tile.cards.map(card => card.lightLevel)),
        }))
        .filter(tile => tile.maxLightLevel > 0)
        .map(tile => ({
          width: tileSize * (2 * tile.maxLightLevel - 1) + 2 * borderRadius,
          height: tileSize * (2 * tile.maxLightLevel - 1) + 2 * borderRadius,
          x: areaMargin + tileSize * (tile.x - tile.maxLightLevel + 1) - borderRadius,
          y: areaMargin + tileSize * (tile.y - tile.maxLightLevel + 1) - borderRadius,
        }));
    },
  },
};
</script>

<style>
.darkness-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  transition: opacity 1s linear;
}
</style>
