<template>
  <div class="deck">
    <div />
    <div />
  </div>
</template>

<script>
export default {
  name: 'Deck',
};
</script>

<style>
.deck {
  width: 100px;
  height: 100px;
  position: relative;
}
.deck > div {
  width: 35px;
  height: 50px;
  -moz-box-shadow: inset 0 0 10px rgb(215, 206, 206);
  -webkit-box-shadow: inset 0 0 10px rgb(215, 206, 206);
  box-shadow: inset 0 0 10px rgb(215, 206, 206);
  background-color: rgb(245, 236, 236);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: solid 2px snow;
}
.deck > div:nth-child(2) {
  left: 57%;
  top: 57%;
  z-index: -1;
}
</style>
