<template>
  <div :class="'game-over-overlay ' + visibility">
    <div>
      <header><b>Game Over</b></header>
      <br />
      {{ description }}
      <br />
      <br />
      <button v-on:click="restart">Try again</button>
    </div>
  </div>
</template>

<script>
import gameStore from '../helpers/gameStore';
import cardStore from '../helpers/cardStore';
import { restart } from '../helpers/persistence';

export default {
  name: 'GameOver',
  data() {
    return {
      game: gameStore.state,
      clock: cardStore.findCard('clock'),
    };
  },
  methods: {
    restart() {
      restart();
    },
  },
  computed: {
    visibility() {
      return this.game.isOver ? 'visible' : 'hidden';
    },
    description() {
      const hours = Math.floor(this.clock.survivedMinutes / 60);
      const minutes = this.clock.survivedMinutes % 60;
      const hourText = hours == 1 ? 'hour' : 'hours';
      const minutesText = minutes == 1 ? 'minutes' : 'minutes';

      if (hours == 0 && minutes == 0) return 'You have died immediately.';
      else if (hours > 0 && minutes == 0) return `You have survived for ${hours} ${hourText}.`;
      else if (hours == 0 && minutes > 0) return `You have survived for ${minutes} ${minutesText}.`;
      else return `You have survived for ${hours} ${hourText} and ${minutes} ${minutesText}.`;
    },
  },
};
</script>

<style>
.game-over-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 1s, opacity 1s ease;
  z-index: 1000;
}

.game-over-overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.game-over-overlay.visible {
  visibility: visible;
  opacity: 1;
}
</style>
