<template>
  <div class="hand">
    <draggable :list="cards" tag="div" v-bind="dragOptions" draggable=".unlocked">
      <transition-group type="transition">
        <Card v-for="card in cards" :card="card" :key="card.cardId" />
      </transition-group>
    </draggable>
  </div>
</template>

<script>
import Card from './Card.vue';
import draggable from 'vuedraggable';
import cardStore from '../helpers/cardStore';

export default {
  name: 'Hand',
  props: {},
  components: {
    Card,
    draggable,
  },
  data() {
    return {
      cards: cardStore.state.hand,
    };
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        group: 'description',
        disabled: false,
        ghostClass: 'ghost',
      };
    },
  },
};
</script>

<style>
.hand {
  background-color: rgb(245, 236, 236);
  border-radius: 10px;
  width: 800px;
  height: 160px;
  padding: 5px;
  -moz-box-shadow: inset 0 0 10px rgb(215, 206, 206);
  -webkit-box-shadow: inset 0 0 10px rgb(215, 206, 206);
  box-shadow: inset 0 0 10px rgb(215, 206, 206);
}

.hand .card {
  float: left;
}

.hand .card + .card {
  margin-left: 5px;
}
</style>
