<template>
  <div id="side-bar">
    <Tile v-for="(item, index) in sideBar" :key="index" :large="true" :cards="item.cards" />
  </div>
</template>

<script>
import Tile from './Tile.vue';
import cardStore from '../helpers/cardStore';

export default {
  name: 'SideBar',
  props: {},
  components: {
    Tile,
  },
  data() {
    return {
      sideBar: cardStore.state.sideBar,
    };
  },
};
</script>

<style>
#side-bar {
  width: 100px;
  height: 500px;
}
</style>
