<template>
  <div :class="large ? 'large tile' : 'small tile'">
    <draggable
      :list="cards"
      tag="div"
      v-bind="dragOptions"
      @change="playCard"
      draggable=".unlocked"
    >
      <Card v-for="card in cards" :card="card" :key="card.cardId" />
    </draggable>
  </div>
</template>

<script>
import draggable from 'vuedraggable';
import cardStore from '../helpers/cardStore';
import Card from './Card.vue';

export default {
  name: 'Tile',
  props: {
    large: {
      type: Boolean,
      default: false,
    },
    cards: Array,
    x: Number,
    y: Number,
  },
  components: {
    Card,
    draggable,
  },
  methods: {
    playCard(event) {
      if (event.added !== undefined) cardStore.playCard(event.added.element, this.x, this.y);
    },
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        group: 'description',
        disabled: false,
        ghostClass: 'ghost',
      };
    },
  },
};
</script>

<style>
.tile {
  border: solid 3px snow;
  background-color: rgb(245, 236, 236);
  border-radius: 8px;
  -moz-box-shadow: inset 0 0 13px rgb(215, 206, 206);
  -webkit-box-shadow: inset 0 0 13px rgb(215, 206, 206);
  box-shadow: inset 0 0 13px rgb(215, 206, 206);
}
.tile.large {
  width: 94px;
  height: 94px;
}
.tile.large .card {
  width: 94px;
  height: 94px;
}
.tile.small {
  width: 44px;
  height: 44px;
}
.tile.small .card {
  width: 44px;
  height: 44px;
}
.tile .card {
  padding: 0;
}
.tile .card > :not(.part-of-miniature) {
  display: none;
}
.tile .card .image-frame {
  width: 100%;
  height: 100%;
}
</style>
