<template>
  <div :class="'victory-overlay ' + visibility">
    <div>
      <header><b>Victory</b></header>
      <br />
      You've survived... this time.
      <br />
      <br />
      <button v-on:click="restart">Start over</button>
    </div>
  </div>
</template>

<script>
import gameStore from '../helpers/gameStore';
import { restart } from '../helpers/persistence';

export default {
  name: 'Victory',
  data() {
    return {
      game: gameStore.state,
    };
  },
  methods: {
    restart() {
      restart();
    },
  },
  computed: {
    visibility() {
      return this.game.isRoundWon ? 'visible' : 'hidden';
    },
  },
};
</script>

<style>
.victory-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 1s, opacity 1s ease;
  z-index: 1000;
}

.victory-overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.victory-overlay.visible {
  visibility: visible;
  opacity: 1;
}
</style>
