<template>
  <div>
    <div id="bar">
      <Area />
      <SideBar />
    </div>
    <div id="bar">
      <Hand />
      <Deck />
    </div>
    <Darkness />
    <GameOver />
    <Victory />
  </div>
</template>

<script>
import Hand from './components/Hand.vue';
import Area from './components/Area.vue';
import Deck from './components/Deck.vue';
import SideBar from './components/SideBar.vue';
import Darkness from './components/Darkness.vue';
import GameOver from './components/GameOver.vue';
import Victory from './components/Victory.vue';

export default {
  name: 'App',
  components: {
    Hand,
    Area,
    Deck,
    SideBar,
    Darkness,
    GameOver,
    Victory,
  },
};
</script>

<style>
body {
  margin: 0;
  background-color: snow;
  text-align: center;
  color: #2c3e50;
}
body,
button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: transparent;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  padding: 7px;
}
#bar {
  margin: 50px;
}
#bar > * {
  float: right;
}
#bar > :nth-child(1) {
  float: left;
}
</style>
